.features__title {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 110px;
}

.features__items {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.item-feature {
  width: 300px;
  height: 180px;
  flex: auto;
}

.item-feature__img {
  display: block;
  margin-bottom: 40px;
}

.item-feature__title {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 17px;
}

.item-feature__descr {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin-top: 20px;
  line-height: 1.5;
}
