@orange-color: #ff7700;

@font-face {
  font-weight: normal;
  font-family: "Raleway Regular";
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/raleway-regular.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Raleway Thin";
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/raleway-thin.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Raleway Medium";
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/raleway-medium.woff") format("woff");
}


.main {
  position: relative;
  height: 100vh;
  width: 100%;
  &__title {
    position: absolute;
    width: 100%;
    top: 40%;
    color: white;
    animation-duration: 3s;
    &--bold {
      position: absolute;
      left: 43.5%;
      margin-top: 5%;
      transform: translateY(-50%);
      text-align: center;
      font-size: 112px;
      font-family: "Raleway Regular";
    }
    &--strong {
      position: absolute;
      left: 50.5%;
      transform: translateY(-50%);
      text-align: center;
      font-size: 110px;
      font-weight: 100;
      font-family: "Raleway Thin";
    }
  }
  &__menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.slider__slide {
  width: 100%;
  height: 100vh;
  &--1 {
    background-image: url(../../img/main-screen/slide-1.jpg);
    background-size: cover;
    background-position: center center;
  }
  &--2 {
    background-image: url(../../img/main-screen/slide-2.jpg);
    background-size: cover;
    background-position: center center;
  }
  &--3 {
    background-image: url(../../img/main-screen/slide-3.jpg);
    background-size: cover;
    background-position: center center;
  }
}

.menu__item {
  & a {
  color: white;
  text-decoration: none;
  font-family: "Raleway Medium";
  font-size: 19px;
  transition: 1s ease;
    &:hover {
      color: @orange-color;
      transition: 1s;
    }
  }

  &--left {
    position: absolute;
    left: 1%;
    top: 50%;
    transform: rotate(270deg);
  }
  &--center {
    position: absolute;
    left: 72%;
    top: 50%;
  }
  &--right {
    position: absolute;
    right: 1%;
    top: 50%;
    transform: rotate(270deg);
  }
}

.slick-dots {
  position: absolute;
  left: 18%;
  width: 300px;
  top: 46.5%;
  bottom: 50px;
  z-index: 999;
  & li {
    display: block;
    margin: 15px auto 0 auto;
    width: 15px;
    height: 2px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 1px;
    transition: 1s;
    &:hover {
      width: 30px;
      transition: 0.5s;
    }
    & button {
      display: none;
    }
    & button:before {
      content: none;
    }
  }
}

@keyframes move-width-dots {
  from {
    width: 15px;
  }
  5% {
    width: 60px;
  }
  to {
    width: 15px;
  }
}

.slick-dots li.slick-active {
  background-color: @orange-color;
  border: 1px solid transparent;
  animation-name: move-width-dots;
  animation-duration: 9s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
  & button:before {
    content: none;
  }
}

.menu__line {
  &--top {
    height: 80px;
    width: 3px;
    background-color: @orange-color;
    position: absolute;
    left: 50%;
    top: -550%;
    transition: 0.5s;
  }
  &--bottom {
    height: 80px;
    width: 3px;
    background-color: @orange-color;
    position: absolute;
    left: 50%;
    top: 300%;
    transition: 0.5s;
  }
}

@media (max-width: 1025px) {
  .main__title--bold {
    left: 40%;
  }
  .slick-dots {
    left: 10%;
  }
}

@media (max-width: 992px) {
  .main__title--bold {
    left: 35%;
  }
  .slick-dots {
    left: 7%;
  }
}

@media (max-width: 768px) {
  .slick-dots {
    left: 3%;
  }
  .main__title--bold {
    font-size: 60px;
  }
  .main__title--strong {
    font-size: 60px;
  }
  .menu__item--center {
    left: 65%;
  }
  .menu__item--left {
    left: 0;
  }
  .menu__item--right {
    right: 0;
  }
}


@media (max-width: 600px) {
  .slick-dots {
    left: -5%;
  }
}

@media (max-width: 450px) {
  .slick-dots {
    left: -10%;
  }
}

@media (max-width: 351px) {
  .slick-dots {
    left: -25%;
  }
    .menu__item--left {
    left: -7%;
  }
  .menu__item--right {
    right: -5%;
  }
}
