@orange-color: #ff7700;

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic');

h2, h3, .ms-item__product-name, .ms-item__product-size, .ms-item__product-price, .ms-item__product-price--old {
  color: white;
}

.ms-catalog {
  width: 100%;
  background: #000 url(../../img/main-screen-catalog/bg-blue.png) 0 300px no-repeat;
}

.ms-catalog__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  margin-top: 180px;
  margin-bottom: 110px;
}

.ms-catalog__items {
  display: block;
  max-width: 1200px;
  min-height: 730px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.ms-item {
  display: inline-block;
  width: 360px;
  height: 430px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #1e1e1e;
  flex: auto;
  padding: 30px;
  transition: 1s;
}

.ms-item__category {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16.5px;
  text-align: right;
  color: #ff7700;
  margin-top: 0;
  margin-bottom: 30px;
}

.ms-item__discr {
  text-align: center;
}

.ms-item__wrap-img {
  height: 275px;
}

.ms-item__product-name,  {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 0;
}

.ms-item__product-size {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 0;
}

.ms-item__product-price--old {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 15.5px;
  color: #8f8f8f;
  text-decoration: line-through;
  margin-right: 5px;
}

.ms-item__product-price--now {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16.7px;
}

.ms-item__product-button {
  opacity: 0;
  position: relative;
  margin-top: 20px;
  padding: 10px 35px 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 17px;
  background: linear-gradient(35deg, #dd7000, #faab34);
  border: none;
  cursor: pointer;
  transition: opacity 0.3s linear;
  z-index: 1;
}

.ms-item__product-button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(35deg, #faab34, #dd7000);
  z-index: -1;
  transition: opacity 1s linear;
  opacity: 0;
}

.ms-item__product-button:hover::before {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.ms-catalog__link-wrap {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  height: 350px;
}

.ms-catalog__link {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
  text-decoration: none;
  transition: 1s;
  &:hover {
    color: #ff7700;
  }
}

.ms-catalog__line--top {
  position: absolute;
  left: 50%;
  top: -33%;
  height: 80px;
  width: 4px;
  transform: translateX(-50%);
  background-color: #ff7700;
  transition: 0.5s;
}

.ms-catalog__line--bottom {
  position: absolute;
  left: 50%;
  top: 18%;
  height: 80px;
  width: 4px;
  transform: translateX(-50%);
  background-color: #ff7700;
  transition: 0.5s;
}
