.reviews__title {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  margin-top: 225px;
  margin-bottom: 240px;
}

.reviews__container {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 200px;
}

.reviews__link-wrap {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  height: 400px;
}

.rewiews__item {
  background-color: #1e1e1e;
  flex: auto;
  margin-left: 30px;
  height: 310px;
  width: 560px;
  padding-left: 30px;
  padding-right: 30px;
}

.rewiews__item--top {
  margin-top: -90px;
}

.rewiews__item--bottom {
  margin-top: 90px;
}

.item-rewiews__img {
  margin-top: -50px;
}

.item-rewiews__name {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 17px;
  margin-top: 40px;
  margin-bottom: 25px;
}

.item-rewiews__rewiew {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.5;
}

.item-rewiews__link {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: 60px;
}

.reviews__link {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
  text-decoration: none;
  transition: 1s;
  &:hover {
    color: #ff7700;
  }
}

.reviews__line--top {
  position: absolute;
  left: 50%;
  top: -30%;
  height: 80px;
  width: 4px;
  transform: translateX(-50%);
  background-color: #ff7700;
  transition: 0.5s;
}

.reviews__line--bottom {
  position: absolute;
  left: 50%;
  top: 18%;
  height: 80px;
  width: 4px;
  transform: translateX(-50%);
  background-color: #ff7700;
  transition: 0.5s;
}
